*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    position: sticky;
    z-index: 1000;
    top: 0;
}

.link, nav, a{
    margin: 10px 10px;
    display: flex;
    align-items: center;
    background-color:  rgb(225, 191, 0);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    justify-content: space-evenly;
}